/** @format */

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--second-title-color);
	background-color: var(--first-body-background-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}
